a{
    margin-left: 25px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow {
    border: solid #8893a55a;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;

}
body{
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}
h1{
    font-size: 50px;
}
.h{
    height: 200px;
    width:35%;
    position: absolute;
    left:13%;
    top:20%
}